resolution[@babel/runtime]=7.26.10
resolution[braces]=3.0.3
resolution[cross-spawn]=7.0.5
resolution[micromatch]=4.0.8
resolution[nanoid]=3.3.8
public-hoist-pattern[]=*@babel/runtime*
public-hoist-pattern[]=*braces*
public-hoist-pattern[]=*cross-spawn*
public-hoist-pattern[]=*micromatch*
public-hoist-pattern[]=*nanoid* 