.btn {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: 11px 0;
  color: white;
  font-size: 32px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #9a7f62;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: #5d4c38;
}

.btn:not(:first-child) {
  margin-top: 12px;
}
