@import 'tailwindcss';

/* custom styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #9a7f62;
  fill: #9a7f62;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a {
  color: inherit;
  text-decoration: underline;
}
